script(type='text/javascript')     
  $(document).ready(function() {
    var btn = $('#boton');
    var adj = $('#adjunto');
    adj.on('change', function () {
      var atr = btn.attr('disabled');
      if (atr && adj.val() != '') {
        btn.removeAttr('disabled');
        btn.removeClass('disabled')
      } else {
        btn.addClass('disabled')
        btn.attr('disabled', true);
      }
    })
  });

div#nav
 p#pad Bienvenido, #{currentUser.username} <a href="/logout"> Salir </a> &nbsp &nbsp
  div#logos
    div#UploadBox
      h2#title Subir Suplementos
      span#UploadArea
        form(method='post', action='/upload_suplemento', enctype='multipart/form-data')
          table(align='center')
            tr
              td Don Balón : &nbsp
              td  
                input#adjunto(name='donbalon', type='file')
              td  
                //input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
                //input(name='tipo', type='hidden', value="balon")
                //input(name='dia', type='hidden', value="#{new Date()}")
            tr
              td Marcador : &nbsp
              td
                input#adjunto(name='marcador', type='file')
              td  
                //input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
                //input(name='tipo', type='hidden', value="marcador")
                //input(name='dia', type='hidden', value="#{new Date()}")
            tr  
              td Gente : &nbsp
              td
                input#adjunto(name='gente', type='file')
              td 
                //input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
                //input(name='tipo', type='hidden', value="gente")
                //input(name='dia', type='hidden', value="#{new Date()}")
            tr
              td Justicia : &nbsp
              td
                input#adjunto(name='justicia', type='file')
              td
                //input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
                //input(name='tipo', type='hidden', value="justicia")
                //input(name='dia', type='hidden', value="#{new Date()}")
             tr 
              td Local : &nbsp
              td
                input#adjunto(name='local', type='file')
              td
                //input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
                //input(name='tipo', type='hidden', value="local")
                //input(name='dia', type='hidden', value="#{new Date()}")

          input#boton(name= 'enviar', type='submit', class='button disabled', value='Subir', disabled='disabled')
          input(name='tipo', type='hidden', value="Suplementos")
          input(name='dia', type='hidden', value="#{new Date()}")